*{
 margin:0;
 padding:0;
 box-sizing: border-box;
 font-family: 'Oswald', sans-serif;

}


html,body{
  height:100%;
}

.clear{
	clear: both;
}

.error{
	color: red;
}

.success{
	color: green;
	text-align: center;
	font-size: 30px;
	display: none;
}


header{
	padding: 30px 2%;
	height: 120px;
}

.container-1{
	width: 100%;
	max-width: 1280px;
	display: flex;
	justify-content: space-between;
}

.logo-texto{
	display: flex;
	margin-top: -15px;
	margin-left: 10px;
	font-family: 'Oswald', sans-serif;
	color: #EB2D2D;
}

.logo-texto h1{
	font-size: 65px;
	margin-top: -20px;
}

.logo-texto h2{
	font-size: 30px;
	line-height: 30px;
	margin-left: 5px;
	margin-top: -1px; 
}

nav.mobile{
	display: none;
	margin-top: 40px;
	float: right;
		cursor: pointer;
}

nav.mobile img{
	width: 32px;
	height: 32px;
}

nav.mobile ul{
	width: 100%;
	position: absolute;
	background-color: white;
	text-align: center;
	left: 0;
	top: 120px;
	margin-top: 10px;
	z-index: 999;
	border-bottom: 3px solid black;
}

nav.mobile li{
	font-size: 23px;
	padding: 20px 0px;
	font-style: italic;
}

nav.mobile li:hover{
	background-color: #ccc;
}

nav.mobile li a{
	text-decoration: none;
	color: black;
}	

nav.desktop{
	padding-top: 40px;
}

nav.desktop ul{
	list-style-type: none;
}

nav.desktop ul li{
	display: inline;
	font-size: 18px;
	padding: 0 10px;
	font-style: italic;
}

nav.desktop a{
	color: black;
	text-decoration: none;
}

section.banner{
	margin-top: 10px;
	width: 100%;
	height: 42vw;
	max-height: 800px;
	background-color: black;
	background-image: url('../imagens/bg.jpg');
	background-repeat: no-repeat;
	background-size: 80% auto;
	background-position: right bottom;
	}

.container-2{
	padding: 5%;
}

.container-2 div{
	margin: 10px 0;
	user-select: none;
}

.container-2 div:nth-of-type(1){
	width: 200px;
	height: 50px;
	background: #eb4034;
	font-size: 30px;
	color: white;
	text-align: center;
	transform: rotate(1deg);
}

.container-2 div:nth-of-type(2){
	width: 140px;
	height: 50px;
	background: #eb4034;
	font-size: 30px;
	color: white;
	text-align: center;
	transform: rotate(1deg);
}

.container-2 div:nth-of-type(3){
	width: 120px;
	height: 50px;
	background: #eb4034;
	font-size: 30px;
	color: white;
	text-align: center;
	transform: rotate(1deg);
}

.container-2 div:nth-of-type(4){
	width: 450px;
	height: 40px;
	background: white;
	font-size: 25px;
	color: black;
	text-align: center;
	transform: rotate(1deg);
}

.veiculos-destaque{
	padding: 90px 2%;
}

.ln1{
	position: absolute;
	height: 2px;
	width: 100%;
	background-color: black;
	top: 20px;
}

.line-titulo{
	max-width: 900px;
	margin: 0 auto;
	position: relative;
	text-align: center;
}

.line-titulo h2{
	position: relative;
	background-color: white;
	display: inline-block;
	font-size: 27px;
	font-style: italic;
	text-align: center;
	padding: 0 20px;
}	

.container-3{
	padding: 40px 0;
	max-width: 900px;
	margin: auto;	
}

.vitrine-destaque{
	width: 33.3%;
	float: left;
	text-align: center;
}

.carro-img{
	width: 100%;
	padding-top: 100%;
	border: 8px solid white;
	background-size: 100% 100%;
}

.vitrine-destaque h2{
	color: black;
	font-style: italic;
	font-size: 20px;
}

.vitrine-destaque p{
	padding-left: 8px;
	padding-top: 8px;
	color: #353535;
	font-size: 15px;
	font-style: italic;
}

.vitrine-destaque a{
	width: 150px;
	line-height: 40px;
	color: white;
	background-color: #EB2D2D;
	font-style: italic;
	text-decoration: none;
	display: block;
	margin-top: 10px;
	text-align: center;
	margin: auto;
	margin-top: 10px;
	border-bottom: 3px solid #B21E1E;
}

.servicos-descricao{
	display: flex;
}

.half-1{
	width: 50%;
	padding: 90px 10%;
	background-color: #242424;
	color: white;

}

.half-1 h2{
	font-weight: normal;
	font-style: italic;
	font-size: 30px;
}	

.half-1 ul{
	padding: 15px 25px;
	display: inline-block;
}

.half-1 a{
	width: 100px;
	line-height: 30px;
	color: white;
	background-color: #EB2D2D;
	font-style: italic;
	text-decoration: none;
	text-align: center;
	border-bottom: 3px solid #B21E1E;
	display: inline-block;
	position: relative;
	bottom: 7px;
}

.half-2{
	width: 50%;
	padding: 90px 10%;
	background-color: #EB2D2D;
	color: white;
}

.half-2 h2{
	font-weight: normal;
	font-style: italic;
	font-size: 32px;
}	

.half-2 p{
	font-size: 19px;
	margin-top: 10px;
}

.half-2 img{
	margin-top: 10px;
	padding: 0 10px;
	cursor: pointer;
	display: inline-block;
	user-select: none;
}

.autor{
	float: right;
	color: #252525;
	font-size: 20px;
	font-weight: normal;
}

.contato{
	padding: 80px 2%;
}

.contato form{
	max-width: 600px;
	margin: 50px auto;
}

.input-wraper{
	float: left;
	padding: 10px;
	margin-top: 15px;
}

.contato input[type=text], input[type=email]{
	width: 100%;
	border: 1px solid #ccc;
	height: 40px;
	line-height: 40px;
	padding-left: 15px;
}

.w100{
	width: 100%;
}

.w50{
	width: 50%;
}

.contato textarea{
	width: 100%;
	border: 1px solid #ccc;
	height: 120px;
	padding: 8px;
	resize: none;
}

.contato input[type=submit]{
	width: 120px;
	line-height: 40px;
	color: white;
	background-color: #EB2D2D;
	font-style: italic;
	display: block;
	text-align: center;
	margin: auto;
	border-bottom: 3px solid #B21E1E;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	cursor: pointer;
	font-size: 17px;
}

footer{
	padding: 30px 2%;
	background-color: #252525;
	position: absolute;
	width: 100%;
}

footer nav{
	float: left;
}

footer nav ul{
	list-style-type: none;
}

footer ul li{
	float: left;
	font-size: 19px;
	font-style: italic;
	padding: 0 15px;
}	

footer ul li a{
	color: white;
	text-decoration: none;
}	
 
footer p{
	float: right;
	font-size: 19px;
	font-style: italic;
	color: white;
}





















section.venda{
	min-height: 100%;
	padding: 20px 2%;
}

section.venda .line-titulo{
	max-width: 1100px;
}

.container-5{
	width: 90%;
	margin: 0 auto;
}

.sidebar{
	float: left;
	width: 30%;
	position: fixed;
}

.search-1{
	width: 90%;
}

.search-1 h2{
	font-size: 24px;
	color: black;
	font-weight: normal;
}

.search-1 .barra-preco{
	width: 100%;
	height: 20px;
	background-color: white;
	border: 1px solid #ccc;
	margin-top: 8px;
	border-spacing: 20px;
	position: relative;
	border-radius: 20px;
}

.barra-preco-fill{
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 20px;
	border-radius: 20px;
	background:linear-gradient(to bottom,rgb(255,255,255),rgb(200,200,200));

}

.pointer-barra{
	width: 26px;
	height: 26px;
	position: absolute;
	left: 0; 
	top: -4px;
	cursor: pointer;
	border-radius: 8px;
	background:linear-gradient(to bottom,rgb(255,255,255),rgb(180,180,180));
	border: 1px solid #777;
}

.valor-pesquisa{
	margin-top: 8px;
}

.valor-pesquisa p{
	color: black;
	font-size: 15px;
}

.valor-pesquisa p:nth-of-type(1){
	float: left;
}

.valor-pesquisa p:nth-of-type(2){
	float: right;
}

.search-2{
	margin-top: 20px;
}

.search-2 h2{
	font-size: 24px;
	color: black;
	font-weight: normal;
}

.form-venda-wraper{
	margin-top: 10px;
	user-select: none;
}

.form-venda-wraper input[type=checkbox]{
	display: none;
}

.form-venda-wraper label{
	width: 20px;
	height: 20px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 3px;
	cursor: pointer;
	position: relative;
}

.circle{
	position: absolute;
	top: -20px;
	display: none;
}

.circle{
	font-size: 30px;
}

.form-venda-wraper input[type=checkbox]:checked + label > .circle{
	display: block;
}	

.form-venda-wraper span{
	display: inline-block;
	padding: 0 10px;
	position: relative;
	top: -4px;
	font-size: 19px;
}	 

.vitrine-venda{
	float: left;
	width: 65%;
	position: relative;
	left: 35%;	
}

.vitrine-venda .vitrine-destaque{
	margin-top: 20px;
}

























section.venda-single{
	padding:40px 2% 0 2%;
}

.btn1{
	width: 120px;
	height: 40px;
	line-height: 40px;
	color: white;
	background-color: #EB2D2D;
	font-style: italic;
	display: block;
	text-align: center;
	border-bottom: 3px solid #B21E1E;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	cursor: pointer;
	font-size: 17px;
	text-decoration: none;
}

.container-6{
	margin: 30px auto;
	width: 70%;	
	max-width: 1000px;
}

.info-veiculo{
	float: left;
	width: 60%;
}

.info-bread{
	padding: 20px 0;
}	

.info-bread a{
	text-decoration: none;
	color: black;
}

.info-bread a:last-child{
	color:#EB2D2D;
}

.info-bread span{
	padding: 0 20px;
}

.foto-destaque{
	width: 100%;
	padding-top: 60%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.nav-galeria-parent{
	width: 100%;
	padding: 36px;
	position: relative;
}

.nav-galeria{
	width: 100%;
	overflow: hidden;
}

.arrow-left-nav{
	position: absolute;
	left: 8px;
	top:50%;
	cursor: pointer;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	background-image: url('../imagens/arrow-left.png');
	background-size: 100% 100%;
	width: 22px;
	height: 22px;
}

.arrow-right-nav{
	position: absolute;
	right: 8px;
	top:50%;
	cursor: pointer;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	background-image: url('../imagens/arrow-right.png');
	background-size: 100% 100%;
	width: 22px;
	height: 22px;
}

/*.nav-galeria-wraper{
	width: 200%; JS
}*/

.mini-img-wraper{
	float: left;
	padding: 6px;
	/*width:calc(33.3% * (100 / 200)); JS*/
}

.mini-img{
	width: 100%;
	cursor: pointer;
	float: left;
	background-position: center;
	background-size: cover;
	padding-top: 70%;
}	

.descricao-veiculo{
	float: left;
	width: 40%;
	padding: 60px 20px;
}

.descricao-veiculo h2{
	text-align: center;
}	

.descricao-veiculo p{
	margin-top: 20px;
	max-width: 360px;
	font-size: 18px;
	text-align: justify;
}

.descricao-veiculo a{
	margin:20px auto;
}	

.contato-2{
	padding: 30px 2%;
}

.contato-2 form{
	margin-top: 10px;
}

.veiculos-destaque-2{
	padding-top: 0;
}


























section.sobre{
	padding: 0 2%;
}

.container-7{
	margin: 30px auto;
	max-width: 1280px;	
	width: 70%;
}

.img-sobre{
	margin-top: 20px;
	width: 100%;
	padding-top: 50%;
	background-image: url('../imagens/sobre.jpg');
	background-size: cover; 
	background-position: center; 
	background-repeat: no-repeat;
}

.descricao-autor{
	margin-top: 30px;
}

.descricao-autor h2{
	font-size: 24px;
}

.descricao-autor p{
	font-size: 16px;
	margin-top: 10px;
	line-height: 30px;
}

.descricao-autor-2{
	margin-top: 20px;
}

.img-small{
	width: 30%;
	padding-top: 15%;
	float: left;
	background-image: url('../imagens/sobre-2.jpg');
	background-size: 100% 100%; 
	background-position: center;
	background-repeat: no-repeat; 
}

.descricao-autor-2 p{
	float: left;
	width: 70%;
	line-height: 30px;
	padding: 15px;
}









section.galeria{
	width: 100%;
}

.container-galeria{
	margin: 30px auto 0;
	max-width: 1000px;
	border: 3px solid #f0f0f0;
	width: 100%;
}

.galeria-destaque{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.galeria-single{
	width: 33.3%;
	padding: 20px;
}

.galeria-img{
	background-size: 100% 100%;
	background-position: center;
	padding-top: 100%;

}











section.eventos{
	width: 100%;
	padding: 20px 2%;
}

.evento-destaque{
	margin: 30px 0;
	width: 100%;
}

.evento-descricao{
	width: 100%;
	margin: 50px auto;
	max-width: 900px;
}

.evento-descricao h2{
	font-size: 25px;
	color: black;
	font-weight: 200;
}



section.evento-apresentacao{
	width: 100%;
}

.evento-single{
	width: 100%;
	margin: 0;
	display: flex;
}

.evento-texto{
	width: 50%;
	background-color: black;
	color: white;
	padding: 10px 50px;
}

.evento-texto h2{
	text-align: center;
	font-size: 25px;
}

.evento-texto p{
	margin: 10px 0;
	font-size: 20px;
}

.evento-texto ul{
	font-size: 17px;
	padding: 0 30px;
}

.evento-texto ul li{
	padding: 10px 0;
}

.evento-img{
	background-size: 100% 100%;
	background-position: center;
	width: 50%;
}


























@media screen and (max-width:580px){
	.vitrine-destaque{
		width: 70%;
		float: none;
		margin: auto;
		margin-top: 40px;
	}

	.line-titulo h2{
		font-size: 23px;
	}
	


}

@media screen and (max-width: 700px){
	nav.desktop{
		display: none;
	}

	nav.mobile{
		display: block;
	}

	nav.mobile ul{
		display: none;
	}
}

@media screen and (max-width: 768px){
	section.banner{
		height: 20vw;
		min-height: 0;
		max-height: 800px;
		background-size: 80% auto;
	}

	.container-2{
		padding: 3%;
	}

	.container-2 div:nth-of-type(1){
		width: 150px;
		height: 30px;
		font-size: 20px;
	}

	.container-2 div:nth-of-type(2){
		width: 110px;
		height: 30px;
		font-size: 20px;
	}

	.container-2 div:nth-of-type(3){
		width: 90px;
		height: 30px;
		font-size: 20px;
	}
		
	.container-2 div:nth-of-type(4){
		width: 280px;
		height: 25px;
		font-size: 15px;
	}

	.sidebar{
		position: static;
	}

	.vitrine-venda{
		position: static;	
	}

	.w50{
		width: 100%;
	}

	footer nav{
		display: none;
	}

	footer{
		text-align: center;
	}

	footer p{
		float: none;
	}

	.sidebar{
		width: 100%;
		text-align: center;
	}

	.vitrine-venda{
		float: left;
		width: 100%;
	}

	.search-1{
		display: inline-block;
	}

	.search-2{
		text-align: left;
		display: inline-block;
	}

	.evento-descricao h2{
		font-size: 23px;
	}

}

@media screen and (max-width:850px){
	.info-veiculo{
		width: 100%;
	}

	.descricao-veiculo{
		padding: 10px 0;
		width: 100%;
	}

	.descricao-veiculo p{
		max-width: none;
	}	

	.vitrine-destaque h2{
		font-size: 18px;
	}
	
	.vitrine-destaque a{
		width: 120px;
	}
	

}	


@media screen and (max-width:950px){
	.servicos-descricao{
		flex-direction: column;
	}

	.half-1,.half-2{
		width: 100%;
	}

	section.evento-apresentacao{
		width: 100%;
	}

	section.evento-apresentacao div:nth-of-type(2){
		flex-direction: column-reverse;
	}

	.evento-single{
		display: flex;
		flex-direction: column;
	}
	
	.evento-texto{
		width: 100%;
		background-color: black;
		color: white;
		padding: 10px 50px;
	}
	
	.evento-img{
		background-size: 100% 100%;
		background-position: center;
		width: 100%;
		padding-top: 50%;
	}
	
}


@media screen and (max-width: 1024px){
	section.banner{
		height: 42vw;
		min-height: 0;
		max-height: 800px;
		background-size: 80% auto;
	}

	.container-2{
		padding: 3%;
	}

	.container-2 div:nth-of-type(1){
		width: 150px;
		height: 40px;
		font-size: 25px;
	}

	.container-2 div:nth-of-type(2){
		width: 100px;
		height: 40px;
		font-size: 25px;
	}

	.container-2 div:nth-of-type(3){
		width: 70px;
		height: 40px;
		font-size: 25px;
	}
		
	.container-2 div:nth-of-type(4){
		width: 325px;
		height: 30px;
		font-size: 20px;
	}
}

@media screen and (max-width:1050px){
	.img-small{
		width: 40%;
		padding-top: 15%;
		float: none;
		margin: 35px auto 0;
	}

	.descricao-autor-2 p{
		width: 100%;
		padding: 0;
		text-align: center;
		margin-top: 10px;
	}


}
